:root {
  --primary-bg: rgb(20, 20, 20);
  --secondary-bg: rgb(30, 30, 30);
  --primary-border: rgb(100, 100, 100);
  --primary-text: white;
  --secondary-text: rgb(200, 200, 200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-bg);
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.message {
  font-size: 18px;
  color: var(--secondary-text);
  text-align: center;
  padding-top: 200px;
  width: 60%;
  line-height: 28px;
  margin-inline: auto;
}

.home-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow: auto;
  height: 90%;
  padding-block: 20px;
  padding-left: calc(50% - 300px);
  padding-right: calc(50% - 310px);
}

.post {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 15px;
  color: var(--secondary-text);
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--secondary-bg);
}

.post-title {
  font-size: 20px;
  color: var(--primary-text);
  padding-inline: 30px;
}

.post-date {
  font-size: 13px;
  padding-inline: 30px;
}

.post-btns {
  border-top: 1px solid var(--primary-border);
  display: flex;
  gap: 50px;
  padding-block: 10px;
  padding-inline: 30px;
}

.post-btn {
  width: 30px;
}

.home-form {
  position: absolute;
  bottom: 20px;
  width: 100%;
  width: 600px;
  margin-inline: auto;
}

.home-input {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  margin-right: 10px;
  border: 2px solid var(--primary-border);
  background-color: transparent;
  outline: none;
  color: var(--primary-text);
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border: 2px solid var(--primary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-text);
}