:root {
  --primary-bg: rgb(20, 20, 20);
  --secondary-bg: rgb(30, 30, 30);
  --primary-border: rgb(100, 100, 100);
  --primary-text: white;
  --secondary-text: rgb(200, 200, 200);
  --modal-bg: rgba(20, 20, 20, 0.7);
  --invert: 0;
}

.light {
  --primary-bg: rgb(235, 235, 235);
  --secondary-bg: rgb(215, 215, 215);
  --primary-border: rgb(155, 155, 155);
  --primary-text: black;
  --secondary-text: rgb(55, 55, 55);
  --modal-bg: rgba(235, 235, 235, 0.7);
  --invert: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

body {
  background-color: var(--primary-bg);
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: calc(50% - 300px);
  padding-block: 15px;
  border-bottom: 2px solid var(--primary-border);
  gap: 15px;
  color: var(--secondary-text);
}

.nav-logo {
  color: var(--primary-text);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}

.nav-search {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  font-size: 16px;
  color: var(--primary-text);
  border: none;
  outline: none;
  padding: 10px 20px;
  flex: 1;
}

.mode-btn,.nav-btn {
  width: 25px;
  cursor: pointer;
  filter: invert(var(--invert));
}

.nav-btn {
  width: 35px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: calc(100vh - 70px);
}

.message, .normal-message {
  font-size: 18px;
  color: var(--secondary-text);
  text-align: center;
  padding-top: 200px;
  width: 60%;
  line-height: 28px;
  margin-inline: auto;
}

.normal-message {
  padding-top: 10px;
}

.home-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow: auto;
  height: 90%;
  padding-block: 20px;
  padding-left: calc(50% - 300px);
  padding-right: calc(50% - 310px);
}

.post {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 15px;
  color: var(--secondary-text);
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--secondary-bg);
}

.post-title {
  font-size: 20px;
  color: var(--primary-text);
  padding-inline: 30px;
}

.post-date {
  font-size: 13px;
  padding-inline: 30px;
}

.post-btns {
  border-top: 1px solid var(--primary-border);
  display: flex;
  gap: 50px;
  padding-block: 10px;
  position: relative;
  padding-inline: 30px;
}

.post-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text);
}

.post-btn img {
  width: 30px;
  filter: invert(var(--invert));
  cursor: pointer;
}

.comment-btn {
  font-size: 14px;
  gap: 5px;
}

.comment-btn img {
  width: 20px;
}

.no-inverse {
  filter: none !important;
}

.post-label {
  font-size: 18px;
  color: var(--primary-text);
  margin-block: 5px;
  font-weight: bold;
}

.post-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-comment {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding-top: 15px;
  color: var(--primary-text);
  font-size: 18px;
}

.comment-user,
.comment-content {
  padding-inline: 30px;
  margin-bottom: 15px;
}

.comment-user {
  margin-bottom: 5px;
  color: var(--secondary-text);
  font-weight: bold;
  font-size: 14px;
}

.delete-btn {
  position: absolute;
  right: 30px;
  width: 30px;
}

.home-form {
  position: absolute;
  bottom: 20px;
  width: 100%;
  width: 600px;
  margin-inline: auto;
}

.home-input {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  margin-right: 10px;
  border: 2px solid var(--primary-border);
  background-color: transparent;
  outline: none;
  color: var(--primary-text);
  width: 100%;
}

.user-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-block: 50px;
  padding-inline: calc(50% - 300px);
}

.user-info {
  color: var(--secondary-text);
  font-size: 18px;
}

.user-btn, .nav-signup {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--primary-text);
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
}

.nav-signup {
  padding: 7px 10px;
  font-size: 16px;
  font-weight: bold;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  backdrop-filter: blur(5px);
  background-color: var(--modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--primary-bg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  width: 400px;
  color: var(--secondary-text);
  border: 2px solid var(--primary-border);
}

.modal-title {
  font-size: 30px;
  color: var(--primary-text);
}

.modal-description {
  font-size: 18px;
  text-align: center;
  line-height: 28px;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.modal-input {
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--primary-text);
}

.modal-close {
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  color: var(--primary-text);
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border: 2px solid var(--primary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-text);
}
