:root {
  --primary-bg: rgb(15, 15, 20);
  --secondary-bg: rgb(25, 25, 30);
  --primary-border: rgb(50, 50, 60);
  --primary-text: white;
  --secondary-text: rgb(180, 180, 200);
  --modal-bg: rgba(15, 15, 20, 0.7);
  --primary-color: rgb(0, 101, 216);
  --invert: 0;
}

.light {
  --primary-bg: rgb(235, 235, 235);
  --secondary-bg: rgb(220, 220, 220);
  --primary-border: rgb(185, 185, 185);
  --primary-text: black;
  --secondary-text: rgb(30, 30, 30);
  --modal-bg: rgba(235, 235, 235, 0.7);
  --invert: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease;
}

body {
  background-color: var(--primary-bg);
}

.nav {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  padding-inline: calc(50% - 450px);
  padding-block: 15px;
  border-bottom: 1px solid var(--primary-border);
  gap: 20px;
}

.nav-logo {
  color: var(--primary-text);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 35px;
}

.nav-search-container {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  flex: 1;
  position: relative;
  z-index: 100;
}

.nav-search {
  background-color: transparent;
  font-size: 16px;
  color: var(--primary-text);
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}

.nav-search-container:has(.nav-search-active) {
  border-radius: 5px 5px 0px 0px !important;
}

.nav-search-results {
  position: absolute;
  background-color: var(--secondary-bg);
  border-radius: 0px 0px 5px 5px;
  color: white;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px var(--primary-bg);
  overflow: hidden;
  padding-top: 5px;
}

.nav-search-result {
  color: var(--primary-text);
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
}

.nav-search-result:hover {
  background-color: var(--primary-border);
}

.mode-btn,
.nav-btn {
  width: 25px;
  cursor: pointer;
  filter: invert(var(--invert));
}

.nav-btn {
  width: 35px;
  border-radius: 50%;
  border: 1px solid var(--primary-border);
}

.nav-btn:last-child {
  filter: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: calc(100vh - 71px);
}

.message,
.normal-message {
  font-size: 18px;
  color: var(--secondary-text);
  text-align: center;
  padding-top: 200px;
  width: 60%;
  line-height: 28px;
  margin-inline: auto;
}

.normal-message {
  padding-top: 10px;
}

.home-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow: auto;
  height: 88%;
  padding-block: 20px;
  padding-left: calc(50% - 450px);
  padding-right: calc(50% - 460px);
}

.post {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 15px;
  color: var(--secondary-text);
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--secondary-bg);
  z-index: 0 !important;
}

.post-title {
  font-size: 20px;
  color: var(--primary-text);
  padding-inline: 30px;
}

.post-content {
  padding-inline: 30px;
}

.post-info,
.comment-info {
  padding-inline: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-info {
  padding-inline: 0;
  color: var(--secondary-text);
}

.post-user,
.comment-user {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text);
  text-decoration: none;
}

.post-user:hover,
.comment-user:hover {
  text-decoration: underline;
}

.post-user img,
.comment-user img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary-border);
}

.comment-user img {
  width: 25px;
}

.post-date {
  font-size: 13px;
}

.post-btns {
  border-top: 1px solid var(--primary-border);
  display: flex;
  gap: 50px;
  padding-block: 10px;
  position: relative;
  padding-inline: 30px;
}

.post-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text);
}

.post-btn img {
  width: 25px;
  filter: invert(var(--invert));
  cursor: pointer;
}

.comment-btn {
  font-size: 14px;
  gap: 5px;
}

.comment-btn img {
  width: 20px;
}

.no-inverse {
  filter: none !important;
}

.post-label {
  font-size: 18px;
  color: var(--primary-text);
  margin-block: 5px;
  font-weight: bold;
}

.post-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-comment {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding-top: 15px;
  color: var(--primary-text);
  font-size: 18px;
}

.comment-user,
.comment-content {
  padding-left: 30px;
  margin-bottom: 15px;
}

.comment-user {
  margin-bottom: 5px;
  color: var(--secondary-text);
  font-weight: bold;
  font-size: 14px;
}

.comment-date {
  font-size: 14px;
  color: var(--secondary-text);
}

.delete-btn {
  position: absolute;
  right: 30px;
  width: 25px;
}

.home-form,
.post-form {
  position: absolute;
  bottom: 20px;
  width: 900px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--primary-bg);
  padding-block: 10px;
  padding-inline: 35px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid var(--primary-border);
}

.post-form {
  border: none;
  padding-inline: 10px;
}

.home-input {
  border: none;
  font-size: 18px;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--primary-text);
  width: 100%;
  background-color: var(--secondary-bg);
}

.home-caret {
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 5px;
  bottom: 19px;
  transition: transform 0.3s ease;
}

.caret-open {
  transform: rotate(-90deg);
}

.user-page {
  display: flex;
  padding-inline: calc(50% - 450px);
  padding-block: 50px;
  width: 100%;
  justify-content: space-between;
}

.user-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 36%;
}

.user-posted {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.user-posts-title {
  color: var(--primary-text);
  margin-block: 20px;
  font-size: 20px;
}

.user-posts:first-child .user-posts-title {
  margin-top: 0;
}

.saved-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
}

.user-pfp {
  width: 180px;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid var(--primary-border);
}

.user-name,
.user-bio {
  color: var(--primary-text);
  font-size: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 28px;
}

.user-count {
  cursor: pointer;
}

.user-count:hover {
  text-decoration: underline;
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.follow-count {
  color: var(--secondary-text);
  font-size: 16px;
}

.follow-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--primary-text);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  width: fit-content;
  padding-inline: 30px;
  padding-block: 10px;
  border: none;
  cursor: pointer;
}

.user-bio {
  font-size: 18px;
  color: var(--secondary-text);
}

.user-name img,
.user-info img,
.user-bio img {
  cursor: pointer;
  width: 25px;
  filter: invert(var(--invert));
}

.user-info img {
  width: 20px;
}

.user-info {
  color: var(--secondary-text);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-btn,
.nav-signup {
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  background-color: var(--primary-color);
}

.warning-btn {
  background-color: rgb(150, 30, 30);
  color: white;
}

.nav-signup {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: box-shadow 0.3s ease;
}

.nav-signup:hover {
  box-shadow: 0px 0px 15px var(--primary-color);
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  backdrop-filter: blur(5px);
  background-color: var(--modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--primary-bg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  width: 400px;
  color: var(--secondary-text);
  border: 2px solid var(--primary-border);
}

.modal-title {
  font-size: 30px;
  color: var(--primary-text);
  text-align: center;
}

.modal-follows {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-follow {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 20px;
}

.modal-follow img {
  width: 40px;
  border-radius: 50%;
}

.modal-description {
  font-size: 18px;
  text-align: center;
  line-height: 28px;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.modal-input {
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--primary-text);
}

.modal-separate {
  height: 1px;
  width: 100%;
  background-color: var(--secondary-text);
  position: relative;
  margin-block: 10px;
}

.modal-separate span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--primary-bg);
  width: 50px;
  text-align: center;
}

.login-btn {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  display: flex;
  gap: 50px;
  padding: 10px 15px;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
}

.login-btn img {
  width: 30px;
}

.modal-link {
  color: var(--primary-color);
  cursor: pointer;
}

.modal-link:hover {
  text-decoration: underline;
}

.modal-pictures {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--primary-border);
}

.modal-selected {
  border-color: var(--primary-color);
  border-width: 5px;
}

.modal-close {
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  color: var(--primary-text);
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border: 2px solid var(--primary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-text);
}
